<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ad
    nostrum, exercitationem quae excepturi unde perferendis nemo consequuntur,
    quod saepe culpa hic rerum ducimus quo! Ratione sed omnis accusamus sit!
  </p>
  <p class="text-xs">
    Numero de clientes
    @if (duration() > 0) {
      <app-counter
        [duration]="duration()"
        [message]="message()"
        />
    }
  </p>
  <div>
    <app-wave-audio audioUrl="audio.mp3" />
  </div>
</div>
